{% extends 'base.html' %}
{% block ruleactive %}active{% endblock ruleactive %}
{% block body %}
<div class="container">
<h3 class='my-2'><b>सवारी चालक अनुमतिपत्र सम्बन्धी जानकारी</b></h3>
सवारी चालक अनुमतिपत्र सम्बन्धी जानकारी बिना सवारी चालक अनुमतिपत्र कुनेपनि सवारी साधन चलाउन पाईदैन र सवारी चालक अनुमतिपत्र नभएको व्यक्तिलाई सवारी साधन चलाउन दिनु हुदैन । यदि कुनै व्यक्तिले बिना सवारी चालक अनुमतिपत्र सवारी साधन चलाएमा सवारी तथा यातायात व्यवस्था ऐन २०४९ को परिच्छेद १० संजाय सम्बन्धि व्यवस्था महलको दफा १६० बमोजिम रु पाँच सय देखी दुइ हजार सम्म जरिवाना हुन्छ ।
<br>
<b>सवारी चालक अनुमतिपत्र प्राप्त गर्नका लागी आवश्यक योग्यता -</b>
सवारी तथा यातायात व्यवस्था ऐन २०४९ को परिच्छेद ४ चालक अनुमतिपत्र सम्बन्धि व्यवस्थाको दफा ४७ बमोजिम हुनु पर्ने छ ।
<br>
<b>निम्न योग्यता पुगेको व्यक्ति सवारी चालक अनुमतिपत्र प्राप्त गर्नको लागी योग्य मानिने छ -</b><br>
<b>१) मोटरर्साईकलको लागी -</b><br>
- उमेर १६ बर्षपुरा भएको ।<br>
- छारे रोग,बौलाएको वा एका एक रिङटा लाग्ने र मुर्छाहुने किसिमको रोग नलागेको ।<br>
- आँखा देख्ने शक्ति ठिक भएको व्यक्ति<br>
- रातो,हरियो,पहेंलो रंग तुरुन्त छुट्याउन सक्ने दृष्टि दोष नभएको व्यक्ति<br>
- रतन्धो नभएको व्यक्ति<br>
- हात खुट्टा शक्तिहिन भई काम दिन नसक्ने नभएको व्यक्ति तर अपाङ्गको हकमा बिशेष किसिमले बनेको स्कुटरको लागी बिशेष व्यवस्था गरिएको हुन्छ ।<br>
- नेपाली नागरिकको हकमा नागरिकताको प्रमाण पत्र समेत प्राप्त गरेको हुनु पर्छ ।<br>
- मझौला र सानो सवारीको लागी १८ बर्षउमेर पुगेको व्यक्ति<br>
- ठूलो सवारी साधनको लागी २१ बर्षउमेर पुगी सानो सवारी चलाएको २ बर्षपूरा गरेको हुनु पर्दछ ।<br>
- ६० बर्षउमेर पुगेको कुनै पनि व्यक्तिलाई ठूलो र मझौला र्सार्वजनिक सवारी साधन अनुमति दिईने छैन ।<br>
<br>
माथि उल्लेखित योग्यता पुगेको व्यक्तिले सवारी चालक अनुमतिपत्र प्राप्त गर्न चाहेको खण्डमा आफुलाई पाएक पर्ने यातायात व्यवस्था कार्यालयमा गई निवेदन दिन सक्ने छन् ।
<br>
<br>
<b>सवारी चालक अनुमतिपत्रको लागी  निवेदन दिंदा चाहिने कागजातहरु -</b><br>
१) निवेदन साथमा रु ५ को टिकट<br>
२) राजस्व २०० सय<br>
३) नागरिकताको प्रमाणित प्रतिलिपी<br>
४) नेपाल सरकारद्धारा मान्यता प्राप्त चिकित्सकले दिएको स्वास्थ्य परिक्षण गरेकेा निरोगिताको प्रमाण पत्र<br>
५) निजले चलाउन चाहेको सवारी साधन सम्बन्धमा प्रशिक्षण केन्द्रले दिएको प्रमाणपत्रको प्रतिलिपी<br>

माथि उल्लेखित बमोजिम निवेदन दिएको व्याक्तिलाई लिदित परिक्षाको लागी समाबेश गरिने छ । लिखित परिक्षामा निजले सवारी साधन सम्बन्धि,सवारी सम्बन्धि ऐन,नियम तथा ट्राफिक संकेत सम्बन्धि सामान्य ज्ञान छ छैन भन्ने कुराको यकिन गर्न परिक्षा लिनु पर्दछ । लिखित परिक्षा उर्तिण गरे पश्चात निजले ट्राईल परिक्षा पास भए पश्चात ट्राफिक प्रहरी यातायात व्यवस्था कार्यालयमा संचालन गरेको अनुशिक्षण प्राप्त गरिसकेपछि निजलाई सवारी चालक अनुमतिपत्र दिईन्छ ।<br>
- मझौला र साना सवारीको लागि १८ बर्षउमेर पुगेको ।<br>
- ठुला सवारी साधनको लागि २१ बर्षउमेर पुगी साना सवारी चलाएको २ बर्ष पुरा गरेको हुनुपर्ने ।<br>
- ६० बर्षउमेर पुगेको कुनै पनि व्यक्तिलाई ठुलो र मझौला र्सार्वजनिक सवारी साधन चलाउन अनुमति दिईने छैन ।<br>

नयाँ प्राप्त सवारी चालक अनुमति पत्र १ बर्षो लागि परीक्षणकालमा रहने छ ।परीक्षण काल भित्र चालकले सवारी तथा यातायात व्यवस्था ऐन तथा यस ऐन वमोजिम बनेको नियम उल्लंघन पाँच पटक भन्दा वढी नगरेको खण्डमा  स्थायी रुपमा परिणत हुनेछ । यस्तो स.चा.अ.प दिएको मितिले पाँच वर्षसम्म वहाल रहनेछ । पाँच बर्षपश्चात नबिकरण गर्नु पर्ने छ ।
<br>
<br>
<b>१) नबिकरण गर्ने प्रक्रिया -</b> बहाल भएको मिति सकिएको ९० दिन भित्र यस्तो स.चा.अ.प को यातायात व्यवस्था कार्यालयमा गई पुन नवीकरण गराउनु पर्दछ । ९० दिनको पनि म्याद नाघेको स.चा.अ.प नवीकरण गर्नको लागि १ बर्षनाघेको लागेको दस्तुर मा १०० ५ ,थप २ बर्षनाघेको २००५ ,३ बर्षनाघेको ३००५ ,४ बर्षनाघेको ४००५ र ५ बर्षनाघेको ५००५ थप जरीवाना गरी नवीकरण गरिने छ भने ५ बर्षपछि सो स.चा.अ.प स्वत रद्द हुनेछ ।यसरी रद्द भएको स.चा.अ.प को दर्ता किताव बाट लगत कट्टा गरिनेछ । लगत कट्टा भएको स.चा.अ.प नवीकरण गरिने छैन ।<br>
<br>
२) नवीकरण गराउदा नागरिकताको प्रतिलिपि ,हालसालै खिचिएको फोटो,पुरानो  सवारी चालक अनुमति पत्र र निरोगिताको प्रमाण पत्र संलग्न राखी निवेदनको साथ राजश्व दस्तुर सहित यातायात व्यवस्था कार्यालयमा पेश गर्नुपर्दछ ।
<br>
३) सवारी चालक अनुमति पत्र निलम्वन गर्न सकिनेः- सवारी तथा यातायात व्यवस्था ऐन २०४९ तथा सवारी तथा यातायात व्यवस्था नियमावली २०४५ बमोजिम चालकले पालना गर्नु पर्ने शर्तहरु पाँच पटक भन्दा वढी उल्लंघन गरेको प्रमाणित भएको त्यस्तो चालक को स.चा.अ.प यातायात व्यवस्था विभाग द्धारा ६ महिनाको लागि निलम्वन गर्न सकिने छ ।
<br>
४) चालक अनुमति पत्रको प्रतिलिपि लिने - स.चा.अ.प हराएमा,च्यातियमा,झुत्रो भई नवुझिने भएमा  त्यस्तो स.चा.अ.प को प्रतिलिपी  लिन सकिन्छ, जसको लागि ट्राफिक प्रहरी महाशाखा बाट कारवाहीमा नरहेको व्यहोराको सिफारिस अनिवार्य रुपमा लिनु पर्नेछ ।
<br>
५) ट्राफिक प्रहरी महाशाखा बाट  सिफारिस लिने तरीका - १) ट्राफिक प्रहरी महाशाखामा आफ्नो स.चा.अ.प हराएको व्यहोराको निवेदन पेश गर्ने ।
<br>
६) निवेदनमा स.चा.अ.प नम्वर,नाम भर्ने ।<br>
- ट्राफिक प्रहरी महाशाखामा निवेदन दर्ता गराएको निवेदन उपर तेस्रो दिनमा फेला नपरेको सिफारिस दिने ।<br>
- उक्त सिफारिस साथ निवेदन,नागरिकताको प्रतिलिपि, हालसालै खिचिएको ३ प्रति फोटो सहित लाग्ने दस्तुर यातायात कार्यालयमा पेश गर्नुपर्ने ।<br>
- अन्तराष्ट्रिय चालक अनुमति पत्र (International Driving Licence) - अन्तराष्ट्रिय चालक अनुमति पत्र छ भने सवारी साधन नेपाल अधिराज्य भर चलाउन मिल्ने छ ।<br>
- विदेशी नागरिक को हकमाः- नेपालमा बसोवास तथा व्यवसाय गरिरहेका विदेशी नागरिक हरुले नेपाली सवारी चालक अनुमति पत्र प्राप्त गर्न चाहेको खण्डमा नेपाली नागरिकताको सट्टामा निजले सम्वन्धित देशको नेपाल स्थित दुतावास बाट नेपाल बस्दै आएको सिफारिस पेश गरी स.चा.अ.प प्राप्त गर्ने नियमानुसार जानुपर्नेछ ।<br>
<br>
<b>सवारी साधनको सवारी चालक अनुमति पत्र बनाउदा र नविकरण गर्दा लाग्ने राजश्व दस्तुर</b> -<br>

<b>मोटरसाईकलको मात्र लाग्ने दस्तुरहरु -</b><br>
१. राजस्व - रु ७०० ।-<br>
२. नविकरण गर्दा - रु ७०० ।-<br>
<br>
<b>चारपाङ्गे सवारी साधन ट्याक्सी, कार, जिप डेलिभरी भ्यानको लाग्ने दस्तुरहरु -</b><br>
१. राजस्व - रु १,००० ।-<br>
२. र्फमभर्दा - रु २०० ।- <br>
३. नविकरण गर्दा - रु १,०००।-<br>

<b>मोटरसाईकल र ट्याक्सी, कार, जिप डेलिभरी भ्यानको लाग्ने दस्तुर -</b><br>

१. फोटो - दरखास्त दिंदा ३ वटा पासपोर्ट साईजको ।<br>
२. राजस्व - रु १,००० ।-<br>
३. र्फमभर्दा - रु ४,००।-<br>
४. नविकरण गर्दा - रु १,०००।-<br>

<b>गहुँगो सवारी साधन ( मिनीबस ) को हकमा -</b><br>
१. राजस्व - रु १,५०० ।-<br>
२. र्फमभर्दा - रु २,००।-<br>
३. नविकरण गर्दा - रु १,५००।-<br>

<b>गहुँगो सवारी साधन ( मिनीबस , बस, ट्रक, लहरी ) को हकमा -</b><br>
१. राजस्व - रु २,००० ।-<br>
२. र्फमभर्दा - रु ४,००।-<br>
३. नविकरण गर्दा - २,०००।-<br>

<b>र्‍याकरको हकमा -</b><br>
१. राजस्व - रु २,००० ।-<br>
२. र्फमभर्दा - रु ४,००।-<br>
३. नविकरण गर्दा - रु२,०००।-<br>

<b>डोजर लोडरको हकमा -</b><br>
१. राजस्व - रु २,००० ।-<br>
२. र्फमभर्दा - रु ४,००।-<br>
३. नविकरण गर्दा - रु २,०००।-<br>
</div>
{% endblock body %}
